<%-include("./partials/header")	%>

<div class="container row">
	<%business.forEach(function(bus){ %>
	
	<div class="card col-md-4 m-3" style="width: 18rem;">
		<div class="card-header">
			<%=bus.name%>
		</div>
		<div class="card-body">
			<h5 class="card-title">Address: <%=bus.address%></h5>
			<h6 class="card-subtitle mb-2 text-muted">Area: <%=bus.landmark%>, <%=bus.pincode%></h6>
			<p class="card-text"><%=bus.days%></p>
			<a href="#" class="card-link"><%=bus.owner.username%></a>
			<a href="#" class="card-link"><%=bus.owner.email%></a>
		</div>
	</div>
	<%});%>
</div>
<%-include("./partials/footer")%>